@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;700;900&display=swap");

@import "./pallette.scss";
@import "./BgBlend.scss";

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$body-bg: $light;

$font-family-base: "Source Sans Pro", sans-serif;

$headings-font-weight: 700;
$headings-margin-bottom: 0.5em;

// $offcanvas-padding-y: $modal-inner-padding !default;
// $offcanvas-padding-x: $modal-inner-padding !default;
// $offcanvas-horizontal-width: 400px !default;
// $offcanvas-vertical-height: 30vh !default;
// $offcanvas-transition-duration: 0.3s !default;
// $offcanvas-border-color: $modal-content-border-color !default;
// $offcanvas-border-width: $modal-content-border-width !default;
// $offcanvas-title-line-height: $modal-title-line-height !default;
// $offcanvas-bg-color: darken($dark, 20%);
// $offcanvas-color:                   $modal-content-color !default;
$offcanvas-body-backdrop-color: rgba($dark, 0.6);
// $offcanvas-box-shadow:              $modal-content-box-shadow-xs !default;

// $navbar-dark-color: $white;
// $navbar-dark-hover-color: $light;
// $navbar-dark-active-color: $light;
// $navbar-dark-disabled-color: rgba($white, 0.25);
// $navbar-dark-toggler-border-color: transparent;

// $navbar-toggler-focus-width: 0;

// $dropdown-dark-color: $white;
// $dropdown-dark-bg: $dark;
// $dropdown-dark-border-color: $dark;
// $dropdown-dark-link-color: $white;
// $dropdown-dark-link-hover-color: $primary;
// $dropdown-dark-link-hover-bg: $dark;
// $dropdown-dark-link-active-color: $primary;
// $dropdown-dark-link-active-bg: $dark;

$modal-backdrop-opacity: 0.2;

@import "../../node_modules/bootstrap/scss/bootstrap";
